@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size:62.5%;
}

@layer calendar-shadow{
    .calendar::before,
    .calendar::after{
        content:'';
        position: absolute;
        top:50%;
        left:100%;
        width:0.78rem;
        height:98%;
        border-radius:0 2px 2px 0;
        background-color:#d3d5d6d7 ;
        transform:translateY(-50%);
    }
}
@layer calendar-shadow-before{
    .calendar::before{
        height:97%;
        left:calc(100% + 0.78rem);
        background-color:rgb(153,153,153);
    }
}

@layer weekday{
    .weekday{
        width: 14.28%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }
}
.day{
    border:1px solid rgb(233, 233, 233);
}
@layer day{
    .day{
        width:14.28%;
        height:3.625rem;
        display:flex;
        justify-content:center;
        align-items:center;
        cursor: pointer;
        color:rgb(44, 124, 164);
        transition:all 0.5s ease-in-out;
        border-radius:2px;
    }

    

    .day:not(.prev-date, .next-date):hover{
        color:#fff;
        background-color:rgb(44, 124, 164);
    }

    .prev-date,.next-date{
        color:#b3b3b3;
    }

    .active-day{
        position: relative;
        font-size:2rem;
        color:#fff;
        background-color:rgb(44, 124, 164);
    }

    .active-day::before{
        position: absolute;
        content:'';
        top:0;
        left:0;
        width:100%;
        height:100%;
        box-shadow:0 0 5px 1px rgb(44, 124, 164);
    }

    .today{
        font-size:2rem;
    }

    .set-event{
        position: relative;
    }

    .set-event::after{
        position: absolute;
        content: '';
        bottom:10%;
        left:50%;
        width:75%;
        height:0.275rem;
        transform:translateX(-50%);
        background-color: #2c7ca4;
        border-radius:10px;
        transition:all 0.5s ease-in-out;
    }
    .set-event:hover::after{
        background-color:#fff;
    }

    .active-day.set-event::after{
        background-color:#fff;
        bottom:20%;
    }
}

@layer event{
    .event{
        background:linear-gradient(
            90deg,
            #3f4458,
            transparent
        );
    }

    .event:nth-child(even){
        background:transparent;
    }
    .event:hover{
        background: linear-gradient(
            90deg,
            #3f4458,
            #2c7ca4
        );
    }

    .event::after{
        position: absolute;
        content: '✓';
        top:50%;
        right:0;
        font-size:3rem;
        display:none;
        align-items:center;
        justify-content:center;
        opacity:0.3;
        color:#fff;
        transform:translateY(-50%);
        transition:0.5s all ease-in-out;
    }

    .event:hover::after{
        display:flex;
    }
}

.active{
    max-height:18.75rem;
    background-color:white;
}



@layer dayBig{
    @media screen and (min-width:800px) {
        .day{
            height:5.625rem;
        }
    }
}

@layer add-event-input{
    .add-event-input{
        width:100%;
        height:2.6rem;
        display:flex;
        justify-content:space-between;
        align-items:center;
        gap: 10px;
    }
}
.add-event-input input{
    border-bottom:1px solid #e5e4e4;
    color: #373c4f;
}

@layer add-event-inputs{
    .add-event-input input{
        width:100%;
        height:100%;
        font-size:1rem;
        font-weight: 400;
        outline:none;
        transition:all 0.5s ease-in-out;
    }
}


/* @layer calendar-shadow-big{
    @media screen and (min-width:800px) {
        .calendar::before,
        .calendar::after{
            content:'';
            position: absolute;
            top:50%;
            left:100%;
            width:0.78rem;
            height:98%;
            border-radius:0 2px 2px 0;
            background-color:#d3d5d6d7 ;
            transform:translateY(-50%);
        }
    }
} */






